@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*
Headings :: font-family: 'Merriweather', serif;

contents : font-family: 'Lato', sans-serif;
*/

.App {
  text-align: center;
  background: linear-gradient(to bottom right, rgb(13, 13, 12)30%, rgba(13, 13, 12,0.5));
  color: white;
  padding: 2rem 0;
}

 h2{
  font-family: 'Merriweather', serif;
  text-decoration: underline;
}


.navigation{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
}

.navigation h1{
  font-family: 'Merriweather', serif;
}
 .navigation .nav-Lists{
  width: 60%;
  
}

.nav-Lists ul{
  display: flex;
  justify-content: space-around;
  
  
}

ul li{
  list-style: none;
}

.contents{
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
 border-bottom: 1px solid white;
}

.Image{
  place-self: center;
}

.contents{
  place-self: center;
}

.Image img{
  width: 60%;
  height: auto;
}

.contents h2{
  font-family: 'Merriweather', serif;
}

.contents p{
  font-family: 'Lato', sans-serif;
  
}

p{
  font-family: 'Lato', sans-serif;
}

button{
  border: 2px solid white;
  background: linear-gradient(to bottom right, rgb(13, 13, 12)30%, rgba(13, 13, 12,0.5));
  color: white;
}
.result-card{
  background: red;
  width: 40vw;
  height: auto;
  margin: 3rem auto;
  padding:1rem 1rem;
  background: rgba( 214, 201, 201, 0.50 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.0px );
-webkit-backdrop-filter: blur( 0.0px );
border-radius: 10px;
font-family: 'Lato', sans-serif;
color:black;

}

img{
  height: 9vh;
  width: auto;
padding : 2rem 1rem;
}

.data-card{
  text-align: center;
  margin: 1rem 0;
  color: black
  
}

.announcement{
  border-bottom : 1px solid white;
}


.vacc-reg-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vacc-reg-info .call-to-action{
  
  align-self: center;
}

.call-to-action a{
 color: white;
}

.message a{
  color: white;
}

.world-cases-overview {
  text-align: center;
  width : 50%;
  margin: auto;
  padding:1rem 1rem;
  background: rgba( 222, 214, 214, 0.50 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.0px );
-webkit-backdrop-filter: blur( 5.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: black
}
.template{
  background-color: red;
  height: 3rem;
  width: 100%;
  margin: auto;
}

.template a{
  text-decoration: none;
}

.template-container{
  display: flex;
  justify-content: space-around;
}